@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;
}

.example-spacer {
  flex: 1 1 auto;
}

.header {
  font-weight: bold;
  font-size: 20px;
}

.mat-icon-large {
  transform: scale(1.5);
}

.form-group {
  width: 100%;
  margin-top: 15px;
}

.mat-card-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-aligned {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-button {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

.card-title {
  font-size: medium !important;
}

.login-form {
  width: 35%;
  padding: 35px;
  border-radius: 35px !important;
}

.social-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-login-buttons {
  display: flex;
  gap: 35px;
}

.social-login-buttons button {
  font-size: 20px;
  padding: 10px; 
  transform: scale(1.5);
}

.error-text {
  color: rgb(192, 54, 54);
  font-size: large;
  text-align: center;
  margin-top: 10px;
}